@charset "UTF-8";

body {
    color: white;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: darkblue;
}
h2 {
    background-color: darkred;
}